* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: black;
}

.container {
  position: relative;
  background-image: url("map.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > :nth-child(2) {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 2rem;
  background: -webkit-linear-gradient(-90deg, #e8dda3, #cea172);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Blanka";
}

.navbar .logo img {
  position: absolute;
  top: 5px;
  right: 135px;
  width: 50px;
}

#toggleNav {
  font-size: 2.3rem;
  background: -webkit-linear-gradient(-90deg, #e8dda3, #cea172);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.navbar-nav {
  position: absolute;
  top: 0;
  left: -100%;
  height: 310px;
  width: 220px;
  padding: 50px 10px;
  background-color: white;
  opacity: 0.5;
  border-bottom-right-radius: 50px;
  z-index: -1;
}

.navbar-nav ul {
  padding: 15px 20px;
  color: red;
}

.navbar-nav li {
  line-height: 1.2;
}

.navbar-nav li span {
  color: black;
}

.navbar-nav.active {
  transition: all 0.3s linear;
  left: 0;
}

.main-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.circle-container-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65px;
  height: 370px;
  border-top-right-radius: 50px;
  background-color: #eaeaea38;
  box-shadow: inset -3px 0 20px black;
}

.circle-container-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65px;
  height: 370px;
  border-top-left-radius: 50px;
  background-color: #eaeaea38;
  box-shadow: inset 3px 0 20px black;
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease-in;
  cursor: grab;
}

.circle:hover {
  transform: scale(1.2);
}

.circle-red1 {
  position: absolute;
  bottom: 20px;
  left: 10px;
  background-color: black;
  z-index: 100;
  background-image: url("exp.png");
  background-size: cover;
  background-position: center;
}
.circle-red2 {
  position: absolute;
  bottom: 90px;
  left: 10px;
  background-color: black;
  z-index: 100;
  background-image: url("jungler.png");
  background-size: cover;
  background-position: center;
}
.circle-red3 {
  position: absolute;
  bottom: 160px;
  left: 10px;
  background-color: black;
  z-index: 100;
  background-image: url("mid.png");
  background-size: cover;
  background-position: center;
}
.circle-red4 {
  position: absolute;
  bottom: 230px;
  left: 10px;
  background-color: black;
  z-index: 100;
  background-image: url("roamer.png");
  background-size: cover;
  background-position: center;
}
.circle-red5 {
  position: absolute;
  bottom: 300px;
  left: 10px;
  background-color: black;
  z-index: 100;
  background-image: url("goldlane.png");
  background-size: cover;
  background-position: center;
}

.circle-blue1 {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: brown;
  z-index: 100;
  background-image: url("exp.png");
  background-size: cover;
  background-position: center;
}
.circle-blue2 {
  position: absolute;
  bottom: 90px;
  right: 10px;
  background-color: brown;
  z-index: 100;
  background-image: url("jungler.png");
  background-size: cover;
  background-position: center;
}
.circle-blue3 {
  position: absolute;
  bottom: 160px;
  right: 10px;
  background-color: brown;
  z-index: 100;
  background-image: url("mid.png");
  background-size: cover;
  background-position: center;
}
.circle-blue4 {
  position: absolute;
  bottom: 230px;
  right: 10px;
  background-color: brown;
  z-index: 100;
  background-image: url("roamer.png");
  background-size: cover;
  background-position: center;
}
.circle-blue5 {
  position: absolute;
  bottom: 300px;
  right: 10px;
  background-color: brown;
  z-index: 100;
  background-image: url("goldlane.png");
  background-size: cover;
  background-position: center;
}
